<div class="span3">
  <div class="item">
    <div class="item-image">
	    <%= link_to product_path(product) do %>
				<%= image_tag product.main_image.image.url(:main) %>
	    <% end %>
    </div>
    <!-- Item details -->
    <div class="item-details">
      <!-- Name -->
      <!-- Use the span tag with the class "ico" and icon link (hot, sale, deal, new) -->
      <h5>
      	<%= link_to product.name, product_path(product) %>
      </h5>
      
      <div class="clearfix"></div>
      <p><%= truncate_html product.description, :length => 50 %></p>
      <hr />
      <div class="item-price pull-left">
      	<%= number_to_currency product.price %>
      </div>

      <div class="button pull-right">
      	<%= link_to "See more...", product_path(product) %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>