<% provide(:title, "Categories") %>

<div class="items">
  <div class="container">
    <div class="row">

   		<div class="span12">
   			<h4 class="pull-left">Categories</h4>
   			<div class="clearfix"></div>
   			<div class="row">
   				<% @categories.each do |category| %>
            <div class="span3">
              <div class="item">
                <div class="item-image">
                	<%= link_to category do %>
										<%= image_tag category.image.image.url(:main) %>
                  <% end %>
                </div> 
								<div class="item-details">
	                <h5><%= link_to category.name, category %></h5>
	                <div class="clearfix"></div>
	                <hr />
	                <div class="button pull-right">
	                	<%= link_to "See more...", category %>
	                </div>
	                <div class="clearfix"></div>
                </div>  	
             	</div>
            </div>

   				<% end %>
   			</div>

				<% if (current_user) && (current_user.has_role? :admin) %>
				<%= link_to "New category", new_category_path, 
														:class => "btn btn-success icon" %>
				<% end %>
   		</div>
    </div>
  </div>
</div>
