<hr>
<div class="control-group">
  <%= f.label "Variant category name", :class => "control-label" %>
  <div class="controls">
    <%= f.text_field :name, :class => "input-xxlarge" %>
    <%= f.link_to_remove :class => "btn" do %>
			Delete variant category
		<% end %>
  </div>
</div>

<div class="control-group">
  <%= f.label :variant_category_order, :class => "control-label" %>
  <div class="controls">
    <%= f.number_field :variant_category_order, :class => "input-large" %>
  </div>
</div>

<div class="controls">
  <%= f.label :visible, :class => "checkbox" do %>
    <%= f.check_box :visible, { checked: true } %> Visible
  <% end %>
</div>

<br /><br />

<%= f.fields_for :variants do |variant| %>
  <%= render 'variant_form', :f => variant %>
<% end %>

<p>
	<%= f.link_to_add :variants, :class => "btn" do %>
		New variant
	<% end %>
</p>
<hr>