<!-- Header starts -->
<header>
  <div class="container">
    <div class="row">

      <div class="span4">
        <!-- Logo. Use class "color" to add color to the text. -->
        <div class="logo">
          <h1><%= link_to ENV['store_title'], root_path, id: "logo" %></h1>
          <p class="meta">Open source shopping</p>
        </div>
      </div>

      <div class="span5 offset3">
        
        <!-- Search form -->
        <form class="form-search">
          <div class="input-append">
            <input class="span3" id="appendedInputButton" type="text" placeholder="Enter something to search">
            <button class="btn" type="button">Search</button>
          </div>
        </form>

        <div class="hlinks">
          <span>

            <!-- item details with price -->
            <%= link_to "#cart", :role => "button", :data => {:toggle => "modal"} do %>
              <%= pluralize current_cart.cart_items.count, 'item' %>
              <i class="icon-shopping-cart"></i>
              <span class="bold">
                <%= number_to_currency current_cart.total %>
              </span>  
            <% end %>
          </span>

          <!-- Login and Register link -->
          <span class="lr">
            <% if !user_signed_in? %>
              <%= link_to "Login", "#login", :role => "button", :data => {:toggle =>"modal"} %>
              |
              <%= link_to "Register", "#register", :role => "button", :data => {:toggle =>"modal"} %>
            <% else %>
              <%= link_to "Profile", profile_path %> | 
              <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
            <% end %>
          </span>
        </div>

      </div>

    </div>
  </div>
</header>
<!-- Header ends -->